{{#each users as |user|}}




<h1 data-id="{{user.id}}">
  <small>
    <button type="button" class="link">User:{{user.username}}</button>
  </small>
</h1>

{{#each workouts as |workout|}}

<ul>
{{#if user.id}}
  <li class="main-title">Exercise: {{workout.exercise}}</li>
  <li class="id">ID: {{workout.id}}</li>
  <li class="director">Reps: {{workout.reps}}</li>
  <li class="actor">Sets: {{workout.sets}}</li>
{{else}}
  Nothing provided
{{/if}}<br>
</ul>

{{/each}}
{{/each}}
