{{#each workouts as |workout|}}

<table class="top">
  <thead>
    <th class="middle">ID</th>
    <th class="middle">Weight</th>
    <th class="middle">Exercise</th>
    <th class="middle">Reps</th>
    <th class="middle">Sets</th>
    <th class="middle">Comments</th>
  </thead>
  <tbody>
    {{#if workout.exercise}}
    <tr>
      <td class="body">{{workout.id}}</td>
      <td class="body">{{workout.weight}}</td>
      <td class="body">{{workout.exercise}}</td>
      <td class="body">{{workout.reps}}</td>
      <td class="body">{{workout.sets}}</td>
      <td class="body">{{workout.comments}}</td>
    </tr>
    {{else}}
      Nothing provided
    {{/if}}<br>
    <button class="workout-delete" data-id={{workout.id}}>
      Remove
    </button>
  </tbody>
  </table>
  {{/each}}
