{{#each workouts as |workout|}}

<h1>
  <h1 data-id="{{workout.id}}">
     <small class="main-title">
       Exercise:{{workout.exercise}}
     </small>
   </h1>
   <tr>
    {{#if workout.exercise}}
      <td class="id">ID:{{workout.id}}</td>
      <td class="director">Reps:{{workout.reps}}</td>
      <td class="actor">Sets:{{workout.sets}}</td>
    {{else}}
      Nothing provided
    {{/if}}<br>
    <button class="workout-delete" data-id={{workout.id}}>
      Remove
    </button>
  {{/each}}
</tr>
